<div class="container mt-1 bg-white">
    <div class="row app-container pt-2 pb-2" >
        <div class="col-lg-7 offset-md-1 mx-auto">
            <div class="card mb-2" >
                <div class="card-body">
                    
                    <h1><b>About Us</b></h1>
                    <p>AMANDA Tour & Travels is going to be India's largest online bus ticketing platform, bringing ease and convenience to millions of Indians who travel by bus. In India, AMANDA will serve over a million customers by offering wide choice at lowest prices.
                    </p>
                    
                    <label  style="color: brown;"><b>Management Team</b></label>
                    <br>
                    <label style="color: brown;">Nikhil Khandare</label>
                    <p>
                        Nikhil Khandare serves as Chief Technology Officer at AMANDA. Nikhil plays an integral role in setting the company’s strategic direction, development and future growth. 
                    </p>
                    
                    <label style="color: brown;">Akshay Beloker</label>
                    <p>
                        Akshay Beloker serves as Solution Analyst at AMANDA. Akshay strongly believes that hard work and commitment can overcome the barriers to success.
                    </p>

                    <label style="color: brown;">Mukinda Patare</label>
                    <p>
                        Mukinda Patare serves as Solution Analyst at AMANDA. Mukinda strongly believes that hard work and commitment can overcome the barriers to success.
                    </p>
                    <br>
                    <a href="#" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        
        </div>
    </div>
</div>
